<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>Register</title>
  </head>
  
  <body>
    <h1>Register</h1>
    
    <form method="POST" action="#" th:action="@{/register}" th:object="${form}" >

        <input type="text" th:field="*{username}"/><br/>

        <input type="password" th:field="*{password}"/><br/>

        <input type="text" th:field="*{name}"/><br/>
    
        <input type="submit" value="Register"/>
    </form>
    
  </body>
</html>